<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/icomoon/style.css">
    <link rel="stylesheet" href="/css/backstage.css">
    <script language="JavaScript">
        function page(pageNo){
            window.location.href="/course/page?pageNo="+pageNo+'&keyword='+document.getElementsByClassName("search").item(0).value;
        }

        function del(id){
            if(confirm('该课程已被部分班级分配是否确认删除')){
                window.location.href='/course/delete?id='+id;
            }
        }

        function update(id){
            window.location.href='/course/update?id='+id;
        }

        function resect() {
            window.location.href='/course/page';
        }
    </script>
    <title>admin</title>
</head>
<body>
<div class="left">
    <div class="left_top">
        <p>教务管理系统</p>
    </div>
    <ul>
        <li><i class="icon-office"></i>&nbsp;&nbsp;&nbsp;<a href="/back">首页</a></li>
        <li><i class="icon-user"></i>&nbsp;&nbsp;&nbsp;<a href="/admin/index">用户管理</a></li>
        <li style="color: rgb(64, 158, 255)"><i class="icon-file-zip"></i>&nbsp;&nbsp;&nbsp;<a  style="color: rgb(64, 158, 255)" href="/course/index">课程管理</a></li>
        <li  ><i class="icon-cart"></i>&nbsp;&nbsp;&nbsp;<a   href="/teacher/index">教师管理</a></li>
        <li><i class="icon-gift"></i>&nbsp;&nbsp;&nbsp;<a href="/student/index">学生管理</a></li>
    </ul>
</div>
<div class="right">
    <div class="right-top">
        <p class="p_left">课程管理</p>
        <div class="p_right">至高无上的管理员：admin </div>
        <div class="div_img"><img src="/img/tx.gif"></div>
        <!--"../static/imgs/tx.gif" -->
    </div>
    <div class="right_body">
        <div class="div_header">
            <form th:action="@{/course/page}" method="get">
                课程名称：<input id="keyword" type="text"  class="search" name="keyword" placeholder="&nbsp;&nbsp;&nbsp;请输入课程名" th:value="${keyword}"/>
                <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;查询" class="searchBtn"/>
                <i class="icon-search"></i>
            </form>
            <button class="resect" th:onclick="|resect()|"><i class="icon-redo"></i> 重置</button>
            <a class="add_btn" href="/course/add">＋添加</a>
        </div>
        <div class="div_table">
            <table>
                <tr>
                    <th>课程名称</th>
                    <th>课程说明</th>
                    <th>学分</th>
                    <th>课时</th>
                    <th>容量</th>
                    <th>已选学生数量</th>
                    <th>是否开放选择</th>
                    <th>修改</th>
                    <th>删除</th>
                </tr>
                <tr th:if="${#lists.isEmpty(CourseList)}">
                    <td colspan="5">暂无课程</td>
                </tr>
                <tr th:unless="${#lists.isEmpty(CourseList)}" th:each="course : ${CourseList}">
                    <td th:text="${course.course_name}"></td>
                    <td th:text="${course.course_desc}"></td>
                    <td th:text="${course.course_xf}"></td>
                    <td th:text="${course.course_time}"></td>
                    <td th:text="${course.course_cap}"></td>
                    <td th:text="${course.course_choosed}"></td>
                    <td th:if="${course.choose_enable==0}" text="否"></td>
                    <td th:if="${course.choose_enable==1}" text="是"></td>
                    <td><button class="del" th:onclick="|del(${course.course_id})|">删除</button></td>
                    <td><button class="update" th:onclick="|update(${course.course_id})|">修改</button></td>
                </tr>
            </table>
        </div>
        <div class="div_bottom">
            <input type="button" value="首  页" class="btn" th:onclick="|page(1)|" th:disabled="${pageNo==1}"/>
            <input type="button" value="上一页" class="btn" th:onclick="|page(${pageNo-1})|" th:disabled="${pageNo==1}"/>
            <input type="button" value="下一页" class="btn" th:onclick="|page(${pageNo+1})|" th:disabled="${pageNo==pageCount}"/>
            <input type="button" value="尾  页" class="btn" th:onclick="|page(${pageCount})|" th:disabled="${pageNo==pageCount}"/>
        </div>
    </div>
</div>
</body>
</html>